.App {
  font-family: "Markazi Text", "Karla", serif;
}

@media (max-width: 700px) {
  .grid-adjustable-columns {
    display: grid;
    grid-auto-flow: row;
  }
}

@media (min-width: 701px) {
  .grid-adjustable-columns {
    width: min(1000px,75rem);
    margin: 0 auto;
    grid-auto-flow: column;
    gap: 1em;
  }
}


body {
  display: grid;
  height: 100vw;
  text-align: center;
  grid-template-areas: "nav"
                       "header"
                       "main"
                       "footer";
background-color: white;

}




 /* MAIN */


    .main {
      grid-area: main;
      align-self: center;
      background-color: #fbdabb;
      padding-bottom: 10px;
    }

    







  .confbooking button {
    background-color: #495e57;
    border: none;
    border-radius: 10px;
    color: #edefee;
    box-shadow: none;
    width: 140px;
    height: 50px
  }
